[params]
;boss参数
boss_scene=
boss_city=
boss_position=
boss_multiBusinessDistrict=
boss_page=1
boss_page_size = 30

;猎聘参数
liepin_city=
liepin_dq=
liepin_current_page=0
liepin_page_size=40
liepin_key=

;智联参数
zhilian_kw=
zhilian_p=1

;51job参数
wyjob_job_area=
wyjob_keyword=php
wyjob_search_type=1
wyjob_page_num=1
wyjob_page_size=50

[cookie]
;boss
boss_wt2=

;智联
zhilian_x_zp_client_id=
zhilian_acw_tc=
zhilian_at=
zhilian_rt=